<ion-header>
  <ion-toolbar>
    <ion-title>footertab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="location">
        <ion-icon aria-hidden="true" name="location"></ion-icon>
        <ion-label>Location</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="driving">
        <ion-icon aria-hidden="true" name="car"></ion-icon>
        <ion-label>Driving</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="safety">
        <ion-icon aria-hidden="true" name="shield"></ion-icon>
        <ion-label>Safety</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="membershiptab">
        <ion-icon aria-hidden="true" name="star"></ion-icon>
        <ion-label>MemberShip</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-content>
