<ion-header>
  <!-- <ion-toolbar>
    <ion-title>footertab</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="locationtab">
        <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
        <ion-label>Location</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shoestab">
        <ion-icon name="footsteps"></ion-icon>
        <ion-label>Shoes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="placestab">
        <ion-icon name="business"></ion-icon>
        <ion-label>Safe Places</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settingstab">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>


</ion-content>