.settings_title ion-icon{
    font-size: 25px;
    padding: 4px 0 0 11px;
}
.setting_list{
    padding: 20px 0;
}
.setting{
    background-color: rgb(228, 223, 223);
    font-weight: 600;
    padding: 8px 0 8px 8px;
    color:rgb(128, 126, 126);
}
.setting_list ion-label{
font-weight: 600;
}
.setting_list ion-icon{
    color: rgb(73, 73, 73);
}

