<ng-container>
    <ion-header [translucent]="true">
        <!-- <ion-toolbar> -->
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <ion-menu-toggle class="header-setting">
                  <ion-icon name="settings-sharp"></ion-icon>
                </ion-menu-toggle>
              </ion-col>
              <ion-col size="7">
                <ion-list>
                 <h5>Child Name : --</h5>
                </ion-list>
              </ion-col>
              <ion-col offset="1" size="2" class="header-setting">
                <ion-icon  name="mail-sharp"></ion-icon>         
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="7">      
              </ion-col>
              <ion-col offset="3" size="2" class="header-setting">
                <ion-icon name="chatbox-ellipses"></ion-icon>
              </ion-col>
            </ion-row>
          <!-- </ion-toolbar> -->
    </ion-header>

    <!-- <ion-footer>
        <ion-tabs>

            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="locationtab">
                <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
                <ion-label>Location</ion-label>
              </ion-tab-button>
        
              <ion-tab-button tab="shoestab">
                <ion-icon name="footsteps"></ion-icon>
                <ion-label>Shoes</ion-label>
              </ion-tab-button>
        
              <ion-tab-button tab="placestab">
                <ion-icon name="business"></ion-icon>
                <ion-label>Safe Places</ion-label>
              </ion-tab-button>
              <ion-tab-button tab="settingstab">
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Settings</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
        
          </ion-tabs>
    </ion-footer> -->
</ng-container>